<html lang="en-us">

  <head>
    <link rel="stylesheet" href="/stylesheets/footer.css">
  </head>

  <body>
    <div class="footer">
      <div class="copyright">
        @copyright EvictionLand 2018
      </div>
    </div>
  </body>

</html>