<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Login to EvictionLand</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <div class="header">
        <nav>
            <ul>
                <li><a href="Home">Home</a></li>
                <li><a href="Rankings">Rankings</a></li>
                <li><a href="Login">Login</a></li>
                <li><a href="Signup">Signup</a></li>
            </ul>
        </nav>
    </div>
    <div class="mainBody">
        <div class="mainImage"></div>
    </div>
    <div class="footer"></div>
</body>