<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Login to EvictionLand</title>
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>
    <% include header %>
    <div class="mainBody">
        <div class="mainImage"></div>
    </div>
    <% include footer %>
</body>