<DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Login to EvictionLand</title>
        <link rel="stylesheet" href="/stylesheets/login.css">
        </head>
    <body>
    <div class="header"></div>
    <div class="loginForm">
        <input class="username" type="text" />
        <br>
        <input class="password" type="password" />
        <br>
        <button  class="okButton" name="submit">Login</button>
        </div>
    </body>
    </html>
