    <DOCTYPE html>
    <html lang="en-us">
    <head>
        <meta charset="UTF-8">
        <title>Login to EvictionLand</title>
        <link rel="stylesheet" href="/stylesheets/form.css">
    </head>
    <body>
    <div class="header"></div>
    <div class="signupForm">

        <div class="inputFields">
            <label class="feildName">Name: </label>
            <input class="name" type="text" />
        </div>

        <div class="inputFields">
            <label class="feildName">Email:</label>
            <input class="email" type="text" />
        </div>

        <div class="inputFields">
            <label class="feildName">Password:</label>
            <input class="password" type="password" />
        </div>


        <div class="inputFields">
            <label class="feildName">Phone:</label>
            <input class="phone" type="text" />
        </div>

        <div class="inputFields">
            <button class="okButton" name="submit">SignUp</button>
            <button class="cancelButton" name="cancel">Cancel</button>
        </div>

    </div>
    </body>
    </html>