body {
    margin: 0;
    display: initial;
}

html {
    margin: 0;
    padding: 0;
}

.header {
    height: 50px;
    background-color: gray;
    padding-top: 0px;
}

.okButton, .cancelButton {
    font-size: 14px;
    border: 1px solid;
    border-color: white;
    color: white;
    font-weight: 400;
    background-color: black;
}

.loginForm, .signupForm {
    margin-left: 40%;
    padding-top: 5%;
}

.email, .name, .phone {
    width: 220px;
    height: 28px;
}

.password {
    width: 197px;
    height: 28px;
}

.inputFields {
    margin-top: 10px;

}