html, body {
    height: 100%;
    margin: 0;
}

.mainImage {
    background-image: url("/images/evictionmain.jpg");
    background-color: red;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    display: flex;
    flex-direction: row;
}